<%- include('./partials/header.ejs')%>
<h1>Editar cliente </h1><br>
<a href="/principal/alunos">Voltar</a>
<hr>
<form action="/principal/upadate" method="post" >
      <label for="nome">Nome</label>
      <input type="hidden" name="id" value="<%= alunos.id %>">,
      <label for="nome">Nome</label>
      <input type="text" name="nome" placeholder="Nome" value="<%= alunos.nome %>"><br>
      <label for="cpf">CPF</label>
      <input type="number" name="cpf" placeholder="CPF" value="<%= alunos.cpf %>"><br>
      <label for="email">E-mail</label>
      <input type="email" name="email" placeholder="Email" value="<%= alunos.email %>"><br>
      <label for="numero">Numero</label>
      <input type="number" name="numero" placeholder="Numero" value="<%= alunos.numero %>"><br>
      <label for="peso">Peso</label>
      <input type="text" name="peso" placeholder="Peso" value="<%= alunos.peso %>"><br>
      <label for="altura">Altura</label>
      <input type="text" name="altura" placeholder="Altura" value="<%= alunos.altura %>"><br>
      <label for="data_nasci">Data de nascimento</label>
      <input type="date" name="data_nasci" placeholder="Data de nascimento" value="<%= alunos.data_nasci %>"><br>
      <label for="status">Status</label>
      <input type="text" name="status" placeholder="Status" value="<%= alunos.status %>"><br>
      <input type="submit"  value="editar">
  </form>
<%- include('./partials/footer.ejs')%>